### Example config:
sections:
  - name: section1
    refTop: [ 0, 0, 0 ]
    # refBottom should connect to the refTop of the next section.
    refBottom: [ 0, 16, 0 ]
    #x1, y1, x2, y2
    region: [ 0, 0, 1000, 1000 ]
    world: world
  - name: section2
    refTop: [ 1000, 240, 0 ]
    refBottom: [ 2000, 16, 0 ]
    region: [ 1000, 0, 2000, 1000 ]
    world: world
# The damage players will take when outside a managed section.
damageOutsideSections: 1.0

fall:
  # The maximum safe falling distance, after which players will start taking damage. Set to -1 to disable falling damage
  maxSafeDist: -1
  # The multiplier for damage taken while falling. Set to 0 to deal consistent damage.
  fallDistanceDamageScaler: 0.01
  # The minimum damage to deal.
  startingDamage: 1.0
  # How often to damage players in ticks
  hitDelay: 10t
  # Whether to spawn cloud particles when the player is being damaged.
  spawnParticles: true

time:
  # How often to synchronize time between worlds
  updateInterval: 1800s
  # The main synchronization world. Other worlds will get synchronized based on the time in this world.
  mainWorld: world
  # The worlds where time should be synchronized with the mainWorld. Optionally specify a time offset (leave 0 if no offset is desired)
  syncedWorlds:
    world: 0

# Sends an additional remount packet after this delay to prevent client-side mount bugs when moving between sections.
remountPacketDelay: 40t

# Worlds which shouldn't damage players when outside of a section.
#damageExcludedWorlds:
#  - world
